@media screen and (max-width: 1157px) {
	.about-icon {
		display: none;
	}

	.in-progress {
		display: none;
	}

	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.subtitle {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
	}

	.team-item {
		margin: 0 auto;
	}

	.content .subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}
}
